## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [46]:
# Your code here
sample_list_1 = random.sample(range(0,101), k=80)
print(sample_list_1)

[28, 6, 25, 92, 27, 20, 61, 44, 81, 18, 34, 83, 75, 67, 99, 13, 98, 45, 65, 73, 26, 72, 52, 55, 63, 33, 74, 11, 36, 4, 22, 57, 47, 97, 90, 76, 70, 32, 78, 43, 86, 89, 42, 60, 2, 84, 48, 80, 29, 23, 15, 19, 59, 12, 93, 37, 87, 7, 0, 46, 51, 62, 39, 9, 79, 50, 49, 30, 68, 94, 17, 69, 53, 88, 77, 8, 14, 41, 38, 5]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [47]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [48]:
# Your code here
sample_list_2= []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))
print(sample_list_2)

[61, 63, 87, 68, 38, 58, 1, 92, 97, 80, 31, 73, 30, 14, 85, 25, 52, 76, 52, 5, 94, 11, 78, 90, 53, 5, 18, 69, 43, 73, 45, 22, 13, 100, 62, 53, 57, 72, 17, 26, 82, 34, 3, 94, 0, 13, 58, 14, 46, 18, 13, 34, 71, 1, 27, 16, 40, 6, 0, 40, 75, 12, 98, 60, 41, 2, 6, 14, 84, 70, 93, 97, 27, 64, 16, 7, 55, 90, 16, 35]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [49]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [50]:
# Your code here
set3 = set1 - set2
print(len(set3))

33

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [51]:
# Your code here
set4 = set2 - set1
print(len(set4))

12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [63]:
# THERE IS WAY EASIER Solution -> see Notes from 11.08.21
# set5 = set1 & set 2 -> this is the AND Operator

# Your code here BOTH CODES WORK
#set5 = {x for x in set1 if x in set2}
#print(len(set5))

set5 = []

for x in set1:
    if x in set2:
        set5.append(x)
        
set5=set(set5)
print(len(set5))

46

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [53]:
# Your code here
a = len(set2) == len(set5) + len(set4) 
b = len(set1) == len(set3) + len(set5)
print(a,b)

True True

#### Create an empty set called `set6`.

In [54]:
# Your code here
set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [55]:
# Your code here
set6.update(set3)
set6.update(set5)
print(len(set6))

80

#### Check if `set1` and `set6` are equal.

In [56]:
# Your code here
a = set1==set6
print(a)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [57]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [58]:
# Your code here
condition = set3.union(set4, set5)== set1.union(set2)
print(condition)

True

#### Using the `pop` method, remove an element from `set1`.

In [64]:
# Your code here
s = set1.pop()

print(s)

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [60]:
# Your code here
# the code from Rafa

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set7= set1 - set(list_to_remove)
print(set7)

{2, 4, 5, 6, 7, 8, 12, 13, 14, 15, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 55, 57, 60, 62, 63, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 84, 86, 87, 88, 90, 92, 93, 94, 97, 98}